*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.custom-navbar:hover .navbar-nav:hover .nav-link:hover,
.custom-navbar:hover .navbar-nav:hover {
    color: white !important;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 80px;
}

.btn.btn-primary.btn-floating.m-1 {
    border: none !important;
}

.btn-primary {
    transition: background-color 0.3s ease;
}

/* Facebook */
.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Twitter */
.btn-twitter {
    background-color: #55acee;
}

.btn-twitter:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* whatsapp */
.btn-whatsapp {
    background-color: #00bb2d;
}

.btn-whatsapp:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Instagram */
.btn-mail {
    background-color: #c71610;
}

.btn-mail:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Linkedin */
.btn-linkedin {
    background-color: #0082ca;
}

.btn-linkedin:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Github */
.btn-github {
    background-color: #333333;
}

.btn-github:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#titulo {
    margin-top: 50px; /* Agrega margen superior para separar del menú */
}